<div class="drawer" #drawer>
  <div style="position: relative;">
    <div class="ion-text-center">
      <ion-button fill="clear" expand="full" (click)="toggleDrawer();" style="z-index: 11;position: absolute;top: -40px;display: flex;justify-content: center;width: 100%;">
        <div class="drawer-pull"></div>
      </ion-button>
    </div>
  </div>

  <div class="content-wrapper" *ngIf="eventName == 'openDetailMisi'">
    <ion-item>
      <div class="info">
        Membangun reputasi akademik melalui proses pendidikan secara terus-menerus yang berpusat kepada mahasiswa.
      </div>
    </ion-item>
    <br>
    <ion-item>
      <div class="info">
        Melaksanakan dan mengembangkan program-program penelitian dan pengabdian kepada masyarakat melalui inovasi ilmu pengetahuan.
      </div>
    </ion-item>
    <br>
    <ion-item>
      <div class="info">
        Mendukung pembangunan nasional bagi pemerintah maupun dunia usaha sebagai sumber rujukan dalam bidang teknologi informasi dan bisnis.
      </div>
    </ion-item>
    <br>
    <ion-item>
      <div class="info">
        Melakukan kerjasama dengan dunia usaha, lembaga dan asosiasi pendidikan berdasarkan link and match dengan competency based curriculum yang mengkombinasikan keseimbangan hard skill dan soft skill.
      </div>
    </ion-item>
    <br>
    <ion-item>
      <div class="info">
        Membangun Citra Universitas Binaniaga Indonesia.
      </div>
    </ion-item>

    
    
    
    
  </div>
</div>